.sl-wrapper{
	overflow: hidden;
	width: 100%;
	position: relative;
	.sl{
		left: 0;
		position: absolute;
		transition: left 1s;
	}
	.img-wrapper{
		float: left;
		position: relative;
		
	}

}
.arrow{
	position: absolute;
	top:50%;
	&.moveRight{
		right: 0;
	}
	&.moveLeft{
		left: 0;
	}
}	